
html{ 
    scroll-behavior: smooth;
}
html, body {
  width: 100%;  
}
body {
    font-family: $base-font;
    font-weight: 400;
    color: $font-color;
    @include font(14, 20);
    font-family: 'MontserratAlternates-Regular';
    scroll-behavior: smooth;
    position: relative;
    background-color: $bg-color;
    @media only screen and (min-width: $land-tablet) {
			@include font(34, 48);
    }
} 
.container {
    width: 100%;
    margin-inline: auto;
    margin: 0 $space-container;
    max-width: calc(100% - 2 * $space-container);
    @media only screen and (min-width: $land-tablet) {
      margin: 0 $space-container-big;
      max-width: calc(100% - 2 * $space-container-big);
    }
}
.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
/*
footer {
  min-height: 100vh;
  @media only screen and (max-width: $mobile) {
      min-height: auto;
  }
}*/
main {
  flex-grow: 1;
  /*> :first-child {
    padding-top: 240px;
    @media only screen and (max-width: $xl-deck) {
      padding-top: 190px;
    }
    @media only screen and (max-width: $l-deck) {
      padding-top: 150px;
    }
    @media only screen and (max-width: $s-deck) {
      padding-top: 120px;
    }
    @media only screen and (max-width: $land-tablet) {
      padding-top: 220px;
    }
    @media only screen and (max-width: $land-tablet) {
      padding-top: 130px;
    }
  }
  > section {
    min-height: 100vh;
    padding-top: 1px;
    overflow: hidden; /*!!!
    @media only screen and (max-width: $tablet) {
      min-height: auto;
    }
  }*/
}
.screen-reader-text {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.h2 {
  @include font(18, 24);
  font-family: 'MontserratAlternates-SemiBold';
  margin: 0 0 5px 8px;
  @media only screen and (min-width: $land-tablet) {
    @include font(50, 74);
  }
}
.h3 {
  @include font(20, 24);
  font-family: 'MontserratAlternates-Bold';
  @media only screen and (min-width: $land-tablet) {
    @include font(50, 74);
  }
}
b {
  font-family: 'MontserratAlternates-SemiBold';
}
strong {
  font-family: 'MontserratAlternates-Bold';
}
a {
  color: $font-color;
  font-family: 'MontserratAlternates-SemiBold';
  &:hover {
    text-decoration: none;
  }
}
.summerText {
  font-family: 'MontserratAlternates-SemiBold';
}
.boxRightText {
  display: block;
  text-align: right;
}

.markOrangeColor {
  color: $orange-color;
}
.markCyanColor {
  color: $cyan-light-color;
}
.bg-cyan {
  background-color: $cyan-color;
}
.bg-cyan-light {
  background-color: $cyan-light-color;
}
.bg-cyan-lighter {
  background-color: $cyan-lighter-color2;
}
.bg-orange {
  background-color: $orange-light-color2;
}
.bg-orange-lighter {
  background-color: $orange-lighter-color2;
}
.bg-orange-darker {
  background-color: $orange-color;
}
.priceText {
  color: $orange-color2;
  @include font(20, 20);
  font-family: 'MontserratAlternates-SemiBold';
  @media only screen and (min-width: $land-tablet) {
    @include font(32, 30);
  }
}
.title {
  @include font(16, 22);
  font-family: 'Montserrat-ExtraBold';
  @media only screen and (min-width: $land-tablet) {
    @include font(26, 32);
  }
}
.twoColumns {
  display: flex;
        > * {
            width: 100%;
        }
  @media only screen and (min-width: $land-tablet) {
    justify-content: space-between;
    > * {
        width: 50%;
    }
  }
}
/*


.pointArrow {
  @include font(70, 70);
  font-family: 'Caveat-Regular';
  align-self: flex-end;
  @media only screen and (max-width: $xl-deck) {
    @include font(56, 60);
  }
  @media only screen and (max-width: $s-deck) {
    @include font(40, 40);
  }
  @media only screen and (max-width: $tablet) {
    @include font(22, 30);
  }
  span {
    transform: rotate(2.53deg);
    display: inline-block;
    @media only screen and (max-width: $land-tablet) {
      transform: rotate(-28.61deg);
      position: relative;
      top: -60px;
      right: 0;
    }
    @media only screen and (max-width: $tablet) {
      top: -30px;
    }
    @media only screen and (max-width: $mobile) {
      top: -5px;
    }
  }
  .desc_show {
    display: block;
    @media only screen and (max-width: $xl-deck) {
      min-width: 350px;
    }
    @media only screen and (max-width: $s-deck) {
      max-width: 350px;
    }
    @media only screen and (max-width: $land-tablet) {
      display: none;
    }
  }
}*/
//subpages