@font-face {
  font-family: 'MontserratAlternates-Regular';
  font-style: normal;
  font-weight: 400;
  src: local(''),
      url('../fonts/Montserrat_Alternates/MontserratAlternates-Regular.woff2') format('woff2'),
      url('../fonts/Montserrat_Alternates/MontserratAlternates-Regular.woff') format('woff');
}

@font-face {
  font-family: 'MontserratAlternates-Light';
  font-style: normal;
  font-weight: 300;
  src: local(''),
      url('../fonts/Montserrat_Alternates/MontserratAlternates-Light.woff2') format('woff2'),
      url('../fonts/Montserrat_Alternates/MontserratAlternates-Light.woff') format('woff');
}

@font-face {
  font-family: 'MontserratAlternates-Bold';
  font-style: normal;
  font-weight: 600;
  src: local(''),
      url('../fonts/Montserrat_Alternates/MontserratAlternates-Bold.woff2') format('woff2'),
      url('../fonts/Montserrat_Alternates/MontserratAlternates-Bold.woff') format('woff');
}

@font-face {
  font-family: 'MontserratAlternates-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local(''),
      url('../fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.woff2') format('woff2'),
      url('../fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat-ExtraLightItalic';
  font-style: normal;
  font-weight: 200;
  src: local(''),
      url('../fonts/Montserrat_Alternates/Montserrat-ExtraLightItalic.woff2') format('woff2'),
      url('../fonts/Montserrat_Alternates/Montserrat-ExtraLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: local(''),
      url('../fonts/Montserrat_Alternates/Montserrat-ExtraBold.woff2') format('woff2'),
      url('../fonts/Montserrat_Alternates/Montserrat-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Caveat-Regular';
  font-style: normal;
  font-weight: 400;
  src: local(''),
      url('../fonts/Caveat-Regular.woff2') format('woff2'),
      url('../fonts/Caveat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Caveat-Bold';
  font-style: normal;
  font-weight: 700;
  src: local(''),
      url('../fonts/Caveat-Bold.woff2') format('woff2'),
      url('../fonts/Caveat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?j492g5');
  src:  url('../fonts/icomoon.eot?j492g5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j492g5') format('truetype'),
    url('../fonts/icomoon.woff?j492g5') format('woff'),
    url('../fonts/icomoon.svg?j492g5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pushpin:before {
  content: "\e946";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-opera:before {
  content: "\eade";
}
