form {
    font-family: 'MontserratAlternates-SemiBold';
}
label {
    color: $grey-color;
}
input {
    border-radius: 15px;
    width: 100%;
    color: $navy-color;
    @include font(18, 26);
    border: 0;
    padding: 10px;
    @media only screen and (min-width: $s-deck) {
        padding: 15px;
        @include font(24, 30);
    }
    &::placeholder {
        color: $grey-color;
    }
}
input:focus {
    border: 0;
    outline: none;
    &::placeholder {
        color: $grey-color;
    }
}
.fildSection {
    position: relative;
    margin-bottom: 25px;
    @media only screen and (min-width: $land-tablet) {
        margin-bottom: 35px;
    }
    @media only screen and (min-width: $s-deck) {
        margin-bottom: 45px;
    }
    label {
        position: absolute;
        left: 14px;
        top: 14px;
        transition: all 0.4s ease;
        @media only screen and (min-width: $tablet) {
            top: 10px;
        }
        @media only screen and (min-width: $land-tablet) {
            left: 6px;
            top: 10px;
        }
        @media only screen and (min-width: $s-deck) {
            left: 12px;
            top: 15px;
        }
    }
    input:focus + label, input:not(:placeholder-shown) + label {
        top: -24px;
        @media only screen and (min-width: $land-tablet) {
            top: -30px;
        }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 9999s ease-in-out 0s;
    }
}
/*.input-error {
    @include font(12, 16);
    font-weight: 600;
    letter-spacing: 0.6px;
    position: absolute;
    left: 0;
    bottom: -6px;
}*/