// links
.sotial-links {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 5px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    @include circle(50);
    border: 1px solid rgba(255, 91, 7, 0.5);
    &:hover svg {
      transform: scale(1.1);
      transition: all .3s ease;
    }
    @media only screen and (min-width: $land-tablet) {
      @include circle(80);
      svg {
        width: 50px;
        height: auto;
      }
    }
    /*@media only screen and (min-width: $s-deck) {
      @include circle(110);
      svg {
        width: 70px;
        height: auto;
      }
    }*/
  }
}
// buttons 
.btn {
  border: 0;
  outline: none;
  position: relative;
  z-index: 0;
  //border-radius: 15px;
  border-radius: 30px;
  width: 100%;
  min-width: 123px;
  padding: 10px 0;
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange-color;
  text-align: center;
  cursor: pointer;
  transition: all 0.8s ease;
  font-family: 'MontserratAlternates-Bold';
  @include font(16, 22);
  @media only screen and (min-width: $tablet) {
    @include font (22, 28);
    min-width: 175px;
  }
  @media only screen and (min-width: $land-tablet) {
    min-width: 262px;
    @include font(30, 38);
    border-radius: 30px;
  }
  @media only screen and (min-width: $s-deck) {
    min-width: 340px;
    padding: 15px 20px;
    //@include font (40, 52);
  }
  @media only screen and (min-width: $l-deck) {
    //min-width: 440px;
    //@include font (50, 74);
    //border-radius: 40px;
    //padding: 25px 0;
  }
}
.my-gradient {
  overflow: hidden;
  span {
    z-index: 2;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-120%) skew(45deg,0);
    width: 200%;
    z-index: 1;
    transition: all .8s ease;
    background: linear-gradient(to right, $orange-color, $orange-lighter-color);
  }
  &:hover{
    &::before {
      transform: translateX(-25%);
    }
  }
}
/*
.holderBtnArrow {
  position: sticky;
  bottom: 5%;
  left: 92%;
  width: 100px;
  height: 100px;
  z-index: 10;
  @media only screen and (max-width: $m-deck) {
    left: 90%;
	}
  @media only screen and (max-width: $s-deck) {
    width: 80px;
    height: 80px;
    left: calc(100vw - 105px);
	}
  @media only screen and (max-width: $tablet) {
    display: none;
  }
  svg {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .arrow-down {
    display: block;
    border-radius: 50px;
    svg {
      transition: all .8s ease;
      path {
        stroke: #2C4058;
      }
    }
    &:hover {
      svg {
        transform: scale(1.15);
        path {
          fill: #868282;
          
        }
      }
    }
    &[name-diraction=up] {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
.maskLink {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  &:hover {
    + img {
      transform: scale(1.4);
      transition: all .8s ease;
    }
    + .h4 {
      text-decoration: underline;
    }
  }
}*/