#footer {
    .boxesHolder {
        margin-left: -($space-container);
        margin-right: -($space-container);
        .title {
            text-align: center;
            @include font(20, 24);
            font-family: 'MontserratAlternates-SemiBold';
            margin-bottom: 15px;
        }
    }
    address {
        background: $orange-light-color2;
        //border-radius: 15px;
        padding: 13px 15px 1px;
        font-style: normal;
        margin: 20px 0 0;
        /*@media only screen and (max-width: $xl-deck) {
            padding: 30px 0 1px 35px;
        }
        @media only screen and (max-width: $l-deck) {
            padding: 20px 0 1px 20px;
        }
        @media only screen and (max-width: $s-deck) {
            padding: 10px 0 1px 10px;
        }
        @media only screen and (max-width: $land-tablet) {
            margin: 0;
        }*/
        a {
            font-family: 'MontserratAlternates-SemiBold';
            @include font(18, 26);
            display: block;
            width: 100%;
            &:hover {
                color: $orange-color;
            }
            /*@media only screen and (max-width: $xl-deck) {
                @include font(28, 36);
            }
            @media only screen and (max-width: $m-deck) {
                @include font(26, 34);
            }
            @media only screen and (max-width: $s-deck) {
                @include font(24, 32);
            }
            @media only screen and (max-width: $land-tablet) {
                @include font(20, 28);
            }
            @media only screen and (max-width: $mobile) {
                @include font(18, 26);
            }*/
        }
        > div {
            display: flex;
            overflow: hidden;
            align-items: center;
            margin-bottom: 7px;
            position: relative;
            padding-bottom: 20px;
            &:not(:last-child):after {
                content: '';
                width: 50%;
                height: 1px;
                background-color: $grey-color;
                position: absolute;
                bottom: 1px;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0.5;
            }
            svg {
                flex: 0 0 40px;
                margin: 0 10px;
                order: -1;
                /*@media only screen and (max-width: $xl-deck) {
                   margin-right: 20px;
                   flex: 0 0 85px;
                }
                @media only screen and (max-width: $l-deck) {
                   margin-right: 10px;
                   flex: 0 0 65px;
                   height: 120px;
                }
                @media only screen and (max-width: $s-deck) {
                   flex: 0 0 45px;
                   height: 100px;
                }
                @media only screen and (max-width: $mobile) {
                    height: 80px;
                }*/
            }
            span:has( a:hover) + svg {
                animation: spin 0.6s linear infinite;
                transform: rotate(0);
                display: block;
                 path {
                    fill: $orange-color;
                }
            }
            
        }
    }
    .bg-cyan-light {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
        /*@media only screen and (max-width: $xl-deck) {
            padding: 30px 35px 1px;
        }
        @media only screen and (max-width: $m-deck) {
            padding: 20px 30px 1px;
        }
        @media only screen and (max-width: $land-tablet) {
            padding: 20px 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media only screen and (max-width: $mobile) {
            margin-bottom: 20px;
        }*/
        .sotial-links {
            justify-content: space-between;
            width: 100%;
            padding: 0 $space-container;
            margin-bottom: 10px;
            a {
                border-color: $navy-lighter-color;
                width: 90px;
                height: 90px;
                border-width: 2px;
                svg path{
                    fill-opacity: 1;
                    fill: $navy-lighter-color;
                }
                svg {
                    width: 53px;
                    height: auto;
                    /*@media only screen and (max-width: $m-deck) {
                        width: 110px;
                        height: auto;
                        display: inline-block;
                    }
                    @media only screen and (max-width: $s-deck) {
                        width: 90px;
                    }
                    @media only screen and (max-width: $mobile) {
                        width: 75px;
                    }*/
                }
            }
        }
    }
    div.bg-orange {
        padding: 13px $space-container;
    }
    /*.twoColumns > * {
        width: 38%;
        @media only screen and (max-width: $l-deck) {
            width: 40%;
        }
        @media only screen and (max-width: $land-tablet) {
            width: 100%;
            display: flex;
            gap: 4%;
            > * {
                width: 48%;
                &.bigLogo {
                    width: 100%;
                    max-width: 600px;
                }
            }

        }
        @media only screen and (max-width: $tablet) {
            flex-direction: column;
            gap: 20px 0;
            width: 100%;
            > * {
                width: 100%;
            }
        }*/
        .logoHolder {
            width: 314px;
            height: 79px;
            margin-inline: auto;
            /*@media only screen and (max-width: $l-deck) {
                width: 60%;
            }
            @media only screen and (max-width: $land-tablet) {
                width: 100%;
                .bigLogo {
                    height: 120px;///!!!
                }
            }*/
        } 
    //}
}
.leaflet-container a {
    color: $orange-light-color2;
}
#map {
    border-radius: 15px;
    aspect-ratio: 335/154;
    margin-bottom: 20px;
    overflow: hidden;
    #map_link {
        display: block;
        position: relative;
        &::after{
            content: "Будь ласка, натисніть, щоб перейти до інтерактивної карти";
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.4);
            color: #fff;
            opacity: 0;
            z-index: 1;
            transition: all .2s ease;
        }
        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}
.footer-bottom {
    text-align: center;
    background-color: $orange-light-color2;
    @include font(10, 16);
    > .container {
        border-top: 1px solid $grey-color;
        padding: 15px 0;
    }
}
@keyframes spin {
    from {
        transform: rotate(0);
    }
    25%{
        transform: rotate(35deg);
    }
    50% {
        transform: rotate(-35deg);
    }
    to {
        transform: rotate(0);
    }
}