#footer {
    .boxesHolder {
        margin-left: -($space-container);
        margin-right: -($space-container);
        @media only screen and (min-width: $land-tablet) {
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 25px 20px;
        }
        @media only screen and (min-width: $s-deck) {
            
        }
        .title {
            text-align: center;
            @include font(20, 24);
            font-family: 'MontserratAlternates-SemiBold';
            margin-bottom: 15px;
            @media only screen and (min-width: $land-tablet) {
                @include font(34, 40);
            }
        }
    }
    .logoHolder {
        width: 314px;
        height: 79px;
        margin-inline: auto;
        @media only screen and (min-width: $land-tablet) {
            width: 100%;
            height: auto;
        }
        @media only screen and (min-width: $s-deck) {
            width: calc(50% - 20px);
            height: 100%;
            align-self: flex-end;
        }
    } 
    address {
        background: $orange-light-color2;
        padding: 13px 15px 1px;
        font-style: normal;
        margin: 20px 0 0;
        text-align: center;
        @media only screen and (min-width: $land-tablet) {
            border-radius: 15px;
            width: calc(65% - 20px);
            margin: 0;
        }
        @media only screen and (min-width: $s-deck) {
            width: 50%;
        }
        a {
            font-family: 'MontserratAlternates-SemiBold';
            @include font(18, 26);
            display: block;
            width: 100%;
            &:hover {
                color: $orange-color;
            }
            @media only screen and (min-width: $land-tablet) {
                @include font(22, 28);
            }
        }
        .content {
            > div {
                display: flex;
                overflow: hidden;
                align-items: center;
                margin-bottom: 7px;
                position: relative;
                padding-bottom: 20px;
                white-space: nowrap;
                @media only screen and (min-width: $land-tablet) {
                    margin-inline: auto;
                }
                &:not(:last-child):after {
                    content: '';
                    width: 50%;
                    height: 1px;
                    background-color: $grey-color;
                    position: absolute;
                    bottom: 1px;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0.5;
                }
                svg {
                    flex: 0 0 40px;
                    margin: 0 10px;
                    order: -1;
                }
                span:has( a:hover) + svg {
                    animation: spin 0.6s linear infinite;
                    transform: rotate(0);
                    display: block;
                    path {
                        fill: $orange-color;
                    }
                }
                
            }
        }
    }
    .bg-cyan-light {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
        background-color: $cyan-light-color2;
        @media only screen and (min-width: $land-tablet) {
            border-radius: 15px;
            width: 35%;
        }
        @media only screen and (min-width: $s-deck) {
            order: 1;
        }
        .sotial-links {
            justify-content: space-between;
            width: 100%;
            padding: 0 $space-container;
            margin-bottom: 10px;
            flex-grow: 1;
            align-items: center;
            @media only screen and (min-width: $tablet) {
                justify-content: center;
                gap: 20px;
            }
            @media only screen and (min-width: $land-tablet) {
                flex-wrap: wrap;
                align-content: flex-start;
            }
            a {
                border-color: $navy-lighter-color;
                @include circle(90);
                border-width: 2px;
                @media only screen and (min-width: $land-tablet) {
                    @include circle(80);
                }
                @media only screen and (min-width: $m-deck) {
                    //@include circle(120);
                }
                svg path{
                    fill-opacity: 1;
                    fill: $navy-lighter-color;
                }
                svg {
                    width: 53px;
                    height: auto;
                    @media only screen and (min-width: $m-deck) {
                        //width: 70px;
                    }
                }
            }
        }
    }
    div.bg-orange {
        padding: 13px $space-container;
    }
    .mapHolder {
        @media only screen and (min-width: $land-tablet) {
            border-radius: 15px;
            width: 100%;
        }
        @media only screen and (min-width: $s-deck) {
            width: calc(65% - 20px);
        }
    }
}
.leaflet-container a {
    color: $orange-light-color2;
}
#map {
    border-radius: 15px;
    aspect-ratio: 335/154;
    margin-bottom: 20px;
    overflow: hidden;
    @media only screen and (min-width: $land-tablet) {
        aspect-ratio: 335/100;
    }
    #map_link {
        display: block;
        position: relative;
        @media only screen and (min-width: $land-tablet) {
            height: 100%;
        }
        &::after{
            content: "Будь ласка, натисніть, щоб перейти до інтерактивної карти";
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.4);
            color: #fff;
            opacity: 0;
            z-index: 1;
            transition: all .2s ease;
            @media only screen and (min-width: $land-tablet) {
                @include font(24, 30);
            }
        }
        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}
.footer-bottom {
    text-align: center;
    background-color: $orange-light-color2;
    @include font(10, 16);
    @media only screen and (min-width: $land-tablet) {
        background-color: transparent;
        @include font(20, 36);
    }
    > .container {
        border-top: 1px solid $grey-color;
        padding: 15px 0;
    }
}
@keyframes spin {
    from {
        transform: rotate(0);
    }
    25%{
        transform: rotate(35deg);
    }
    50% {
        transform: rotate(-35deg);
    }
    to {
        transform: rotate(0);
    }
}