header  .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7px;
  @media only screen and (min-width: $m-deck) {
	padding-bottom: 10px;
  }
  .logoHolder {
		flex-basis: 100%;
		text-align: center;
		padding: 12px 0 0;
  }
  .logo {
		display: inline-block;
		img {
			max-width: 300px;
			@media only screen and (min-width: $land-tablet) {
				//max-width: 911px;
				min-width: 650px;
			}
			@media only screen and (min-width: $s-deck) {
				min-width: 750px;
			}
		}
	}
	.phone {
		@include font (16, 20);
		font-family: 'MontserratAlternates-SemiBold';
		@media only screen and (min-width: $tablet) {
			@include font (22, 28);
		}
		@media only screen and (min-width: $land-tablet) {
			@include font (36, 42);
		}
		@media only screen and (min-width: $s-deck) {
			//@include font (50, 74);
		}
		@media only screen and (min-width: $l-deck) {
			//@include font (70, 74);
		}
	}
}
/*--mobile menu--*/
/*.hamburger {
  display: none;
  float: right;
  &:hover {
	.hamburger-inner, 
	.hamburger-inner::before, 
	.hamburger-inner::after {
		background-color: #FFD40E; 
	}
  }
  @media only screen and (max-width: $land-tablet) {
    display: block;
  }
  @media only screen and (max-width: $tablet) {
	order: 1;
  }
}
.overlight {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}*/
    