//campaign home page
.campaign {
    position: relative;
    padding-bottom: 30px;
    //height: 100vh;
    //overflow: hidden;
    /*@media only screen and (max-width: $tablet) { 
        height: auto;
    }
    .bg-image-holder {
        height: 100%;
    }*/
    .text-holder {
        position: absolute;
        padding-top: 40px;
        width: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, $bg-color 10%, rgba(251, 239, 229, 0.5) 85%, rgba(251, 239, 229, 0) 100%);
        /*@media only screen and (max-width: $tablet) { 
            background: linear-gradient(to top, rgba(255, 255, 255, .9) 8%, rgba(255, 255, 255, .3) 80%, rgba(255, 255, 255, 0) 100%);
        }*/
        .container {
            padding-top: 15px;
        }
        .h3 {
            margin-bottom: 5px;
            /*@media only screen and (max-width: $m-deck) {
                margin-bottom: 25px;
            }
            @media only screen and (max-width: $tablet) {
                padding: 0;
                margin-bottom: 5px;
                text-align: center;
            }*/
        }
    }
}
.colorsBox {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(2, auto);
    gap: 10px 3%;
    padding: 20px 0;
    @include font(14, 20);
    /*@media only screen and (max-width: $xl-deck) {
      @include font(30, 45);
      padding: 20px 0 0;
      gap: 20px 30px;
    }
    @media only screen and (max-width: $l-deck) {
      @include font(26, 36);
    }
    @media only screen and (max-width: $s-deck) {
      @include font(24, 32);
      gap: 10px;
    }
    @media only screen and (max-width: $land-tablet) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto) minmax(100px, 100%);
    }
    @media only screen and (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto) minmax(100px, 100%);
        @include font(18, 26);
    }
    @media only screen and (max-width: $mobile) {
        @include font(16, 24);
        grid-template-rows: repeat(3, auto) minmax(70px, 100%);
    }*/
    > div {
        text-align: center;
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
        padding: 10px 7px;
        flex-direction: column;
        @media (min-width: 435px) {
            flex-direction: row;
        }
        .iconHolder {
            display: flex;
            align-items: center;
        }
        svg {
            margin-inline: auto;
        }
        /*@media only screen and (max-width: $xl-deck) {
            min-height: 220px;
        }
        @media only screen and (max-width: $l-deck) {
            min-height: 160px;
        }
        @media only screen and (max-width: $land-tablet) {
            min-height: auto;
        }
        @media only screen and (max-width: $mobile) {
            padding: 5px;
            border-radius: 15px;
        }*/
    }
    .bigBox {
        grid-column: span 2;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 10px;
        .title {
            @include font(18, 22);
        }

    }
}
.button-markHolder {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;
    margin-bottom: 20px;
    .btn {
        max-width: 180px;
        height: 60px;
        margin-bottom: 40px;
            /*max-width: 600px;
            height: 200px;
            margin-left: 30px;
            @media only screen and (max-width: $xl-deck) {
                max-width: 500px;
                height: 150px;
                margin-left: 0px;
            }
            @media only screen and (max-width: $s-deck) {
                max-width: 400px;
                height: 110px;
                margin-top: 35px;
            }
            @media only screen and (max-width: $tablet) {
                max-width: 220px;
                height: 70px;
                margin-top: 0;
            }
            @media only screen and (max-width: $mobile) {
                min-width: 180px;
                height: 55px;
            }*/
        }       
}       
.rightImg {
    gap: 30px;
    > * {
        width: auto;
    }
    .smallLogo {
        height: 63px;
        flex: 0 0 60px;
    }
}
.priceList {
    margin-left: 20px;
    list-style-type: disc;
    li > p {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        align-items: flex-end;
        margin-bottom: 5px;
        span {
            flex-grow: 1;
            &.priceText {
                flex-grow: 0;
            }
        }
    }
    
}
#price {
    margin-bottom: 25px;
}
.form .container {
    padding: 15px $space-container;
    background: linear-gradient(to right, #FFCBA7, #48FFE6);
    //border-radius: 15px;
    position: relative;
    margin: 0 0 20px 0;
    max-width: 100%;
    text-align: center;
    /*@media only screen and (max-width: $xl-deck) {
        margin-top: 35px;
    }
    @media only screen and (max-width: $l-deck) {
        margin-top: 20px;
    }
    @media only screen and (max-width: $s-deck) {
        padding: 10px 15px;
    }
    @media only screen and (max-width: $tablet) {
        padding: 10px 0;
    }
    @media only screen and (max-width: $mobile) {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }*/
    &::after {
        content: ' ';
        position: absolute;
        //right: -$space-container;
        right: 0;
        //bottom: -63px;
        bottom: 50%;
        background: url("./../../assets/images/loop.svg") 0 0 no-repeat;
        transform: translateY(50px);
        background-size: contain;
        width: 251px;
        height: 203px;
        //width: 501px;
        //height: 403px;
        z-index: 2;
        /*@media only screen and (max-width: $l-deck) {
            width: 351px;
            height: 303px;
        }
        @media only screen and (max-width: $s-deck) {
            right: -25px;
        }
        @media only screen and (max-width: $land-tablet) {
            bottom: 50%;
        }
        @media only screen and (max-width: $tablet) {
            width: 251px;
            height: 203px;
        }
        @media only screen and (max-width: $mobile) {
            right: 0;
        }*/
    }
    .h2 {
        text-align: center;
        margin-bottom: 20px;
        @include font(20, 26);
        /*@media only screen and (max-width: $xl-deck) {
           margin-bottom: 35px;
        }
        @media only screen and (max-width: $m-deck) {
           margin-bottom: 20px;
        }
        @media only screen and (max-width: $mobile) {
           padding: 0 48px;
           margin-bottom: 15px;
        }*/
    }
    .btn {
        max-width: 100%;
        font-family: 'MontserratAlternates-SemiBold';
        margin: -15px 0 15px;
        /*@media only screen and (max-width: $xl-deck) {
            margin-top: 0;
            height: 120px;
        }
        @media only screen and (max-width: $l-deck) {
            height: 90px;
            margin-bottom: 20px;
        }
        @media only screen and (max-width: $tablet) {
            height: 45px;
            margin-bottom: 10px;
        }
        @media only screen and (max-width: $mobile) {
            border-radius: 8px;
        }*/
    }
    .error {
        display: none;
        padding: 5px 0 0 5px;
        text-align: left;
        color: $brick-color;
        @include font(12, 18);
    }
    .note {
        @include font(12, 18);
    }
    .twoColumns {
        flex-direction: column-reverse;
        gap: 35px;
        justify-content: space-between;
        /*@media only screen and (max-width: $land-tablet) {
            flex-direction: column-reverse;
            gap: 35px;
        }*/
        > form {
            width: 100%;
            /*padding-left: 42px;
            width: calc(50% - 50px);
            padding-bottom: 25px;
            @media only screen and (max-width: $xl-deck) {
                padding-left: 20px;
                width: 50%;
            }
            @media only screen and (max-width: $s-deck) {
                padding-left: 10px;
            }
            @media only screen and (max-width: $land-tablet) {
                
                padding: 0 20px;
            }
            @media only screen and (max-width: $mobile) {
                padding: 0 10px;
            }*/
            /*p {
                @include font(35, 40);
                font-family: 'MontserratAlternates-SemiBold';
                @media only screen and (max-width: $xl-deck) {
                    @include font(28, 36);
                }
                @media only screen and (max-width: $l-deck) {
                    @include font(26, 34);
                }
                @media only screen and (max-width: $tablet) {
                    @include font(16, 20);
                    text-align: center;
                }
            }*/
            .holder {
              position: relative;
            }
        }
        .imgHolder {
            width: 217px;
            height: 250px;
            position: relative;
            align-self: center;
            /*width: 664px;
            height: 685px;
            max-width: 50%;
            @media only screen and (max-width: $xl-deck) {
                width: 564px;
                height: 585px;
            }
            @media only screen and (max-width: $l-deck) {
                width: 514px;
                height: 535px;
            }
            @media only screen and (max-width: $s-deck) {
                width: 414px;
                height: 435px;
            }
            @media only screen and (max-width: $land-tablet) {
                align-self: center;
                width: 257px;
                height: 300px;
            }*/
            &::before {
                content: ' ';
                position: absolute;
                left: 0;
                top: 0;
                background-color: $orange-color2;
                transform: rotate(5deg);
                border-radius: 25px;
                width: 100%;
                height: 100%;
            }
            picture {
                z-index: 2;
                border-radius: 25px;
                overflow: hidden;
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }
    .resultMessage {
        color: $white-color;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > * {
            border-radius: 15px;
            padding: 25px 35px;
        }
    }
    .successMessage {
        background-color: $cyan-light-color;
        display: none;
    } 
    .errorMessage {
        background-color: $brick-color;
        display: none;
    }
    .greyBtn {
        background-color: #D9D9D9;
        color: $grey-color;
        margin: 0;
        &:hover {
            background-color: $grey-color;
            color: #D9D9D9;
        }
    }
}
/*l


.departments .container {
    text-align: center;
    padding-top: 25px;
    @media only screen and (max-width: $xl-deck) {
        padding-top: 0;
    }
    .h2 {
        margin-bottom: 40px;
        @media only screen and (max-width: $xl-deck) {
            margin-bottom: 20px;
        }
        @media only screen and (max-width: $s-deck) {
            margin-bottom: 10px;
        }
    }
    .btn {
        max-width: 1370px;
        margin: 0 auto;
        @media only screen and (max-width: $mobile) {
            height: 60px;
        }
    }
}
.price .container  {
    @media only screen and (max-width: $xl-deck) {
        padding-top: 20px;
    }
    @media only screen and (max-width: $s-deck) {
        padding-top: 10px;
    }
    @media only screen and (max-width: $mobile) {
        padding-top: 20px;
    }
}
.priceList {
    @include font(50, 45);
    margin: 37px 60px -10px 40px;
    font-family: 'MontserratAlternates-SemiBold';
    @media only screen and (max-width: $xl-deck) {
       margin: 25px 20px 0;
       @include font(36, 38);
    }
    @media only screen and (max-width: $l-deck) {
       margin: 15px 10px 0;
       @include font(30, 36);
    }
    @media only screen and (max-width: $m-deck) {
        margin: 5px 10px 0;
    }
    @media only screen and (max-width: $tablet) {
       @include font(18, 26);
    }
    @media only screen and (max-width: $mobile) {
       @include font(16, 24);
       margin: 15px 0;
    }
    li {
        margin-bottom: 35px;
        border-bottom: 5px solid $blue-light-color;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media only screen and (max-width: $xl-deck) {
            margin-bottom: 25px;
        }
        @media only screen and (max-width: $m-deck) {
            margin-bottom: 15px;
        }
        @media only screen and (max-width: $tablet) {
            border-bottom-width: 1px;
            margin-bottom: 8px;
        }
    }
    .normalText {
        font-family: 'MontserratAlternates-Regular';
        @media only screen and (max-width: $land-tablet) {
            display: block;
        }
    }
}
.discountList {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    @media only screen and (max-width: $xl-deck) {
        gap: 15px;
    }
    @media only screen and (max-width: $m-deck) {
        padding-top: 10px;
    }
    @media only screen and (max-width: $mobile) {
       gap: 8px;
       padding: 20px 0;
    }
    li {
        margin-left: 150px;
        width: calc(50% - 150px);
        position: relative;
        @media only screen and (max-width: $xl-deck) {
            margin-left: 130px;
            width: calc(50% - 130px);
        }
        @media only screen and (max-width: $l-deck) {
            margin-left: 100px;
            width: calc(50% - 110px);
        }
        @media only screen and (max-width: $tablet) {
            margin-left: 50px;
            width: calc(100% - 50px);
        }
        &:nth-child(2n) {
            order: 1;
        }
        &::before {
            content: counter(list-item);
            font-family: 'MontserratAlternates-SemiBold';
            @include font(70, 60);
            background-color: $yellow-light-color;
            position: absolute;
            left: -120px;
            top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border-radius: 20px;
            @media only screen and (max-width: $xl-deck) {
                top: 10px;
                left: -100px;
                width: 80px;
                height: 80px;
                @include font(60, 60);
            }
            @media only screen and (max-width: $l-deck) {
                left: -90px;
            }
            @media only screen and (max-width: $tablet) {
                width: 50px;
                height: 50px;
                border-radius: 15px;
                @include font(26, 26);
                left: -55px;
            }
            @media only screen and (max-width: $mobile) {
                width: 25px;
                height: 25px;
                border-radius: 5px;
                @include font(20, 20);
                left: -40px;
            }
        }
    }
}
.enterToSchool {
    .h2 {
        text-align: right;
        padding-right: 73px;
        margin-bottom: 37px;
        @media only screen and (max-width: $l-deck) {
            padding-right: 40px;
            margin-bottom: 30px;
        }
        @media only screen and (max-width: $land-tablet) {
            padding: 0;
            margin-bottom: 20px;
        }
        @media only screen and (max-width: $mobile) {
            text-align: left;
        }
    }
}
.freeDay {
    .container {
        @media only screen and (max-width: $land-tablet) {
            min-height: 100vh;
        }
        @media only screen and (max-width: $tablet) {
            min-height: auto;
        }
    }
    .rightLogo {
        gap: 20px;
        .smallLogo {
            margin: -26px 6px 0 0;
            @media only screen and (max-width: $xl-deck) {
                margin:0;
            }
        }
    }
    .rightText {
        display: flex;
        justify-content: flex-end;
        padding-top: 36px;
        @media only screen and (max-width: $xl-deck) {
            padding-top: 20px;
        }
        p {
            width: 64%;
            @include font(50, 60);
            @media only screen and (max-width: $xl-deck) {
                @include font(40, 50);
            }
            @media only screen and (max-width: $l-deck) {
                @include font(34, 46);
                width: 60%;
            }
            @media only screen and (max-width: $land-tablet) {
                width: 100%;
            }
            @media only screen and (max-width: $tablet) {
                @include font(20, 26);
                text-align: left;
            }
        }
    }
}

.review {
    .container {
        padding-top: 39px;
        @media only screen and (max-width: $xl-deck) {
            padding-top: 20px;
        }
        @media only screen and (max-width: $m-deck) {
            padding-top: 10px;
        }
    }
    .h2 {
        width: 73%;
        @media only screen and (max-width: $land-tablet) {
            width: 100%;
        }
    }
    .twoColumns {
        justify-content: space-between;
        @media only screen and (max-width: $mobile) {
            margin-bottom: 80px;
            position: relative;
        } 
        .swiper2 {
            width: max-content;
            @media only screen and (max-width: $land-tablet) {
                align-self: center;
            }
        }
    }
}
.team .container {
    padding-top: 39px;
    @media only screen and (max-width: $xl-deck) {
        padding-top: 20px;
    }
    .h2 {
        @media only screen and (max-width: $land-tablet) {
            margin-bottom: 25px;
        }
    }
}

*/