/* Variables */

//$base-width: 1780px;

$base-font: 'MontserratAlternates-Regular', sans-serif;


//$main-space: 96px;
//$main-space-tb: 50px;
    
$white-color: #ffffff;
$font-color: #0C0F1E;
$orange-color: #FB722C;
$orange-color2: #FF6516;
$orange-light-color: #FBA164;
$orange-light-color2: #FFBB8D;
$orange-lighter-color: #FAD3B1;
$brick-color: #9C2A0F;
$cyan-color: #043E52;
$cyan-light-color: #2DB6A3;
$cyan-lighter-color: #78B4AC;
$cyan-lighter-color2: #D0FFF8;
$grey-color: #6d7b82;
$bg-color: #FBEFE5;

//$space-container: 50px;

/*size points*/
/*from w1920 to 1536 (1920x1080)*/
$xl-deck: 1919px;/*from1919 to 1536(1536x864)*/
$l-deck: 1535px;/*from 1535 to 1365 (1366x768)*/
$m-deck: 1365px;/*from 1365 to 1280 (1280x720)*/
$s-deck: 1279px; /*from 1279 to 1024 (1024x768)*/
$land-tablet: 1023px; /*from w1023 to 768 (768x1024)*/
$tablet: 767px; /*from w767 to 480 (480x800)???!!*/
$mobile: 479px; /*from w479 to 360 (360x640) */





